<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
    <key>Where am I?</key>
    <dict>
        <key>
        Getting around in Linux is easy!
        Go to terminal, type commands and press button ENTER.
        
        pwd - shows where you are right now.
        (Instead of asking adult "Where are we?", say pwd)
        </key>
        <string>confused</string>
    </dict>
    <key>How do I see what is in the folder?</key>
    <dict>
        <key>
        Getting around in Linux is easy!
        Go to terminal, type commands and press button ENTER.
        
        ls - shows everything that is in the folder
        (...almost everything)
        
        ls -a - shows even secret files.
        (Secret files star with a dot ;) )
        </key>
        <string>confused</string>
    </dict>
    <key>How do I go to a different folder?</key>
    <dict>
        <key>
        Getting around in Linux is easy!
        Go to terminal, type commands and press button ENTER.
        
        cd NAME_OF_FOLDER - takes you to the folder!
        cd Pictures and you are in Pictures folder.
        
        cd .. - this takes you back where you came from.
        </key>
        <string>confused</string>
    </dict>
    <key>I want to make my own folder</key>
    <dict>
        <key>
        mkdir NAME_OF_DIRECTORY
        
        Go ahead and type mkdir FunnyNotes.
        Now type ls.
        Do you see your folder?
        cd FunnyNotes
        pwd
        You are in folder FunnyNotes!
        </key>
        <string>confused</string>
    </dict>
    <key>Delete file or folder</key>
    <dict>
        <key>
        Delete file by typing:
        rm NAME_OF_FILE
        Now type ls
        Boom! That file is gone!
        
        Delete folder by typing:
        rm -r NAME_OF_FOLDER
        Did not work?
        Make sure you step out of the folder
        cd ..
        If you type ls the whole folder is gone!
        </key>
        <string>confused</string>
    </dict>
    <key>Get more tools</key>
    <dict>
        <key>
        Many times you need to install other things on your computer.
        Do this by typing:
        sudo apt-get NAME_OF_TOOL
        
        sudo means that you are giving special permissions
        If you have password, you have to type it after a command with sudo.
        
        This command will update your tools:
        sudo apt-get update
        </key>
        <string>confused</string>
    </dict>
    <key>Making a secret file ;)</key>
    <dict>
        <key>
        Go to the place where you want to make a secret file.
        Type:
        vim .NAME_OF_SECRET_FILE
        
        vim is the program where you can type it up.
        Make sure you put a dot in front of the name
        (dot makes it a secret file)
        
        Now press letter i.
        You can type your secret file now.
        When you are done:
        press ESC
        press symbol :
        type letters wq and press ENTER
        
        You saved your document by typing wq.
        If you don't want to save it, press q! instead of wq.
        
        Now do ls - your file is not there!
        Type ls -a
        Your file is showing now!
        
        This is the way to keep a secret diary.
        </key>
        <string>confused</string>
    </dict>
    </dict>
</plist>
